<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <!-- Author Meta -->
  <meta name="author" content="Koushik" />
  <!-- Meta Description -->
  <meta name="description" content="" />
  <!-- Meta Keyword -->
  <meta name="keywords" content="" />
  <!-- Title Logo Set -->
  <link rel="shortcut icon" type="image/png" href="/img/arrow.png" />
  <!-- Site Title Set -->
  <title>Link Shortneer | YO</title>

  <!-- Custom CSS Add -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Font Awesome CSS Add -->
  <link rel="stylesheet" href="/css/all.min.css" />
</head>

<body>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <!-- Search Button And Search Input -->
  <div class="search__container">
    <form action="#" method="POST">
      <input class="search__input" type="url" pattern="https://.*" placeholder="Search" required>

      <button type="submit" class="button" id="button-7">
        <div id="dub-arrow"><img src="/img/arrow.png" alt="" /></div>
        <a href="#">Let's Go!</a>
      </button>
    </form>
    <div class="show">
</body>

</html>